.container {
  position: fixed;
  z-index: 980;
  bottom: 32px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  border: 1px solid #454352;
  background: #03010f;
  padding: 16px 32px;
  min-width: 70%;

  .start {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  p {
    color: #fff;
    font-feature-settings:
      'liga' off,
      'clig' off;

    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.25px;
  }

  a {
    color: #955bdd;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
  }

  .btnGroup {
    display: flex;
    align-items: center;
    gap: 24px;
  }

  button {
    border-radius: 20px;
    padding: 10px 17px;
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
  }

  .acceptBtn {
    background: #7959b6;
  }

  .closeBtn {
    margin-left: 36px;
    background: transparent;
    font-size: 20px;
    cursor: pointer;
    color: white;
  }
}

@media (max-width: 768px) {
.closeBtn{
  display: none;
}

  .container{
  min-width: unset;
  flex-direction: column;
  width: 90%;
  box-sizing: border-box;
  gap: 8px;
  padding: 12px 16px;
  align-items: unset;

  .start{
    align-items: baseline;

    p {
      font-size: 12px;
      line-height: 18px;
    }

    svg{
      height: 18px;
    }
  }

  .rejectBtn{
    padding: 9px 0;
  }

  .btnGroup{
    flex-direction: row-reverse;
    justify-content: end;
    gap: 12px;
  }
}

.mobileBg{
  position: fixed; 
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(3, 1, 15, 0.80);
  opacity: 0.8;
  z-index: 970;
}
}