.navigation {
  display: flex;
  gap: 77px;
  position: relative;
  z-index: 250;
}

.link {
  span {
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    cursor: pointer;
  }

  &:hover:not(.active) {
    span {
      opacity: 0.7;
    }
  }
}

.active {
  span {
    cursor: default;
    color: #ac69fd;
  }
}
