.container {
  padding-top: 60px;
  padding-bottom: 92px;
  position: relative;
  height: 100%;

  &::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #676767;
    z-index: -2;
  }

  h3 {
    color: #fff2f1;
    font-size: 57.482px;
    text-transform: uppercase;
    max-width: 456px;

    @media (max-width: 1500px) {
      font-size: 42px;
    }
  }
}

.wrapper {
  width: 1320px;
  margin: 0 auto;
}

.breadcrumbs {
  margin-left: 49px;
  display: flex;
  align-items: center;
  gap: 10px;

  a {
    color: #c5c4cc;
    text-align: center;
    font-family: Helvetica;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 137.5% */
  }
}

.caseContainer {
  margin-top: 61px;
  border-radius: 50px;
  background: rgba(3, 1, 15, 0.4);
  padding: 48px 49px 60px 49px;
  font-family: Helvetica;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.topContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.goToContactBtn {
  border-radius: 50px;
  background-color: #7959b6;
  font-family: Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  display: flex;
  gap: 14px;
  text-transform: uppercase;
  width: fit-content;
  transition: background-color 0.3s ease;

  span {
    padding: 18px 0 18px 36px;
    color: #fff;
  }

  img {
    padding: 20px;
    border-radius: 100%;
    background-color: #7959b6;
  }

  &:hover {
    background-color: #b893ff;
  }
}

.tagsContainer {
  display: flex;
  gap: 16.5px;

  .tag {
    padding: 10px 14px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.14);
    color: #fff;
    font-family: Helvetica;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
  }
}

.projectName {
  margin-top: 60px;
  color: #fff;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: 'Albert Sans';
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px;

  @media (max-width: 1500px) {
    font-size: 42px;
  }
}

.heroImage {
  margin-top: 46px;
  width: 100%;
}

.mainImage {
  margin-top: 40px;
  width: 100%;
  max-height: 1080px;
}

.firstSection {
  margin-top: 62px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
}

.fsBlockContainer {
  h4 {
    color: #ac69fd;
    font-family: Helvetica;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
  }

  p {
    margin-top: 16px;
    color: #fff;
    font-family: Helvetica;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 28px;
  }
}

.fsImageContainer {
  width: 100%;
  height: 600px;
  border-radius: 40px;
  overflow: hidden;

  img{
    object-fit: cover;
  }
}

.imageGallery {
  margin-top: 70px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2, auto);
  gap: 10px 20px;

  .ssBigImage {
    grid-row: span 2;
  }
}

.secondSection {
  margin-top: 40px;

  p {
    color: #fff;
    font-family: Helvetica;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 28px;
  }
}

.ssImageContainer {
  height: auto;
  object-fit: cover;
  border-radius: 40px;
  overflow: hidden;
}

.ssImageContainer {
  width: 617px;
}

.lastSection {
  margin-top: 55px;

  p {
    color: #fff;
    font-family: Helvetica;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 28px;
  }

  img {
    margin-top: 60px;
    border-radius: 40px;
    width: 100%;
    height: 100%;
  }
}
