.container {
  padding-top: 60px;
  padding-bottom: 92px;
  position: relative;
  height: 100%;
  display: flex;

  h3 {
    color: #fff2f1;
    font-size: 57.482px;
    text-transform: uppercase;
    max-width: 456px;

    @media (max-width: 1500px) {
      font-size: 42px;
    }
  }
}

.wrapper {
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
}

.breadcrumbs {
  margin-left: 49px;
  display: flex;
  align-items: center;
  gap: 10px;

  a {
    color: #c5c4cc;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
  }
}

.caseContainer {
  margin-top: 61px;
  border-radius: 50px;
  background: rgba(3, 1, 15, 0.4);
  padding: 48px 49px 48px 49px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.topContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tagsContainer {
  display: flex;
  gap: 16.5px;

  .tag {
    padding: 10px 14px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.14);
    color: #fff;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
  }
}

.projectName {
  margin-top: 60px;
  color: #fff;
  font-family: 'Albert Sans';
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;

  @media (max-width: 1500px) {
    font-size: 42px;
  }
}

.heroImage {
  margin-top: 46px;
  width: 100%;
}

.imageContainer {
  border-radius: 30px;
  margin-top: 40px;

  img {
    width: 100%;
    height: 462px;
    border-radius: 70px;
    object-fit: cover;
  }
}

.firstSection {
  margin-top: 62px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
}

.fsBlockContainer {
  h4 {
    color: #ac69fd;
    font-family: Helvetica;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
  }

  p {
    margin-top: 16px;
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
  }
}

.fsImageContainer {
  width: 100%;
  height: 600px;
  border-radius: 30px;
  overflow: hidden;
  position: relative;

  img {
    width: 100%;
    height: 100%;
    border-radius: 70px;
    object-fit: cover;
    object-position: center;
  }
}

.imageGallery {
  margin-top: 70px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 20px;
  height: 600px;
}

.secondSection {
  margin-top: 40px;

  p {
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
  }
}

.ssImageContainer {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  overflow: hidden;
  position: relative;

  img {
    width: 100%;
    height: 100%;
    border-radius: 70px;
    object-fit: cover;
    object-position: center;
  }

  &.ssBigImage {
    grid-column: 2;
    grid-row: 1;
  }
}

.lastSection {
  margin-top: 55px;

  p {
    color: #fff;
    font-family: Helvetica;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
  }

  img {
    margin-top: 60px;
    border-radius: 40px;
    width: 100%;
    height: 100%;
  }
}

.backgroundContainer {
  position: absolute;
  top: -119px;
  left: 0;
  width: 100%;
  height: calc(100% + 119px);
  background-color: #03010f;
  background-image: url('/case_gradient_new.svg');
  background-size: cover;
  background-repeat: repeat-y;
  z-index: -1;
}

.richText {
  * {
    color: #fff;
  }
}

.fsImageMobileContainer {
  display: none;
}

.breadcrumbsStart {
  display: flex;
  align-items: center;
  gap: 19px;
}

@media (max-width: 768px) {
  .btnContainer,
  .fsImageDesktopContainer {
    display: none;
  }

  .breadcrumbsStart {
    gap: 6px;
  }

  .container {
    padding: 30px 8px 50px;
  }

  .wrapper {
    max-width: unset;
  }

  .breadcrumbs {
    align-items: baseline;
    margin: 0 0 0 12px;
  }

  .tagsContainer {
    gap: 10px;
    flex-wrap: wrap;
  }

  .caseContainer {
    margin-top: 20px;
    padding: 40px 12px;
  }

  .projectName {
    font-size: 28px;
    line-height: 36px;
  }

  .imageContainer {
    margin-top: 20px;
    
    img {
      height: unset;
    }
  }

  .fsImageMobileContainer {
    display: unset;
  }

  .fsImageContainer {
    height: 200px;
    
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  .firstSection {
    display: flex;
    flex-direction: column;
  }

  .ssImageContainer {
    width: unset;
  }

  .imageGallery {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 10px;
    height: 200px;

    .ssImageContainer:nth-child(1) {
      grid-column: 1;
      grid-row: 1;
    }

    .ssImageContainer:nth-child(2) {
      grid-column: 2;
      grid-row: 1;
    }

    .ssImageContainer:nth-child(3) {
      grid-column: 3;
      grid-row: 1;
    }
  }

  .backgroundContainer {
    height: 1000px;
  }
}

@media (min-width: 769px) and (max-width: 1300px) {
  .wrapper {
    padding: 0 50px;
  }
}

.fsImageDesktopContainer {
  display: none;

  @media (min-width: 769px) {
    display: unset;
  }
}

.richTextContainer {
  p {
    color: #fff;
    font-family: Helvetica;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
  }
} 