.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.overlay {
  position: absolute;
  top: 30px;
  right: 115px;
  width: 100%;
  height: 100%;
  z-index: 999;
}

.popup {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 34px 58px;
  padding: 20px;
  z-index: 111;
  width: max-content;
  border-radius: 30px;
  border: 1px solid #514f59;
  background: #1c1a29;
  box-shadow: 4px 4px 18.2px 0px rgba(0, 0, 0, 0.3);
}

.service {
  display: flex;
  align-items: center;
  gap: 15px;

  &:hover {
    p {
      color: #ac69fd;
    }
  }

  img {
    width: 22px;
    height: 22px;
  }
}
