.wrapper {
  background-color: #03010f;
  padding-top: 61px;
  padding-bottom: 240px;
  position: relative;
}

.gradientContainer {
  position: absolute;
  top: -119px;
  left: 0;
  width: 100%;
  height: calc(100% + 119px);
  background-color: #03010f;
  background-image: url('/blog_gradient.svg');
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  position: relative;
  width: 1320px;
  margin: 0 auto;
}

.breadcrumbs {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-left: 49px;

  a {
    color: #c5c4cc;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
  }

  p {
    color: #fff;
    text-align: center;
    text-align: left;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
  }
}

.contentContainer {
  margin-top: 61px;
  border-radius: 50px;
  background: rgba(3, 1, 15, 0.4);
  padding: 60px 49px;
}

.topContainer {
}

.titleContainer {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  h1 {
    max-width: 776px;
    color: #fff2f1;
    font-family: Helvetica;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 48px;
  }
}

.imageContainer {
  border-radius: 30px;
  margin-top: 40px;

  img {
    width: 100%;
    height: 462px;
  }
}

.richTextContainer {
  margin-top: 24px;
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px;

  img {
    margin: 0 auto;
    border-radius: 50px;
  }
}

.richText {
  color: #fff2f1;
  font-family: Helvetica;

  p {
    color: #fff2f1;
    font-family: Helvetica;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
  }
}

.infoBloc {
  margin-top: 20px;
  display: flex;
  gap: 44px;
  align-items: center;

  p {
    color: #a5a0b2;
    font-family: Helvetica;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
  }
}

.tag {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  padding: 10px 14px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.14);
}

.richText {
  * {
    color: #fff;
  }
}

.breadcrumbsStart {
  display: flex;
  align-items: center;
  gap: 19px;
}

@media (max-width: 768px) {
  .btnContainer,
  .tag {
    display: none;
  }

  .wrapper {
    padding-top: 30px;
    padding-bottom: 70px;
  }

  .container {
    width: 100%;
    padding: 0 8px;
  }

  .breadcrumbsStart {
    gap: 6px;
  }

  .breadcrumbs {
    gap: 6px;
    align-items: baseline;
    margin: 0 0 0 12px;
  }

  .contentContainer {
    margin-top: 20px;
    padding: 40px 12px;
  }

  .mobileTag {
    color: #fff;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    padding: 10px 14px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.14);
    width: fit-content;
    margin-bottom: 14px;
  }

  .titleContainer {
    h1 {
      font-size: 28px;
      line-height: 36px;
    }
  }

  .infoBloc {
    margin-top: 14px;
  }

  .imageContainer {
    img {
      height: unset;
    }
  }

  .richText {
    p {
      font-size: 14px;
      line-height: 20px;
    }
  }

  .gradientContainer {
    height: 1200px;
  }
}

@media (min-width: 769px) and (max-width: 1300px) {
  .container {
    width: 100%;
    padding: 0 50px;
  }
}
