.wrapper {
  margin-top: 14px;
}

.container {
  margin: 0 auto;
}

.casesContainer {
  display: flex;
  align-items: stretch;
  justify-content: start;
  flex-wrap: wrap;
  gap: 24px 28px;
  max-width: 1270px;
  margin: 83px auto 93px;

  .case {
    max-width: 620px;
  }
}
