.wrapper {
  margin-top: 14px;
}

.container {
  margin: 0 auto;
}

.casesContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: stretch;
  justify-items: center;
  gap: 24px 28px;
  margin: 83px auto 93px;
  width: max-content;


  @media (max-width: 1350px) {
    width: auto;
    margin: 60px 20px 70px;
  }

  .case {
    max-width: 620px;
  }
}
