.wrapper {
  padding-top: 80px;
  position: relative;
  height: 100%;
  display: flex;
}

.container {
  margin: 0 auto;
  position: relative;
  z-index: 200;
}

.casesContainer {
  width: 1220px;
  margin: 60px auto 0;
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding-bottom: 100px;

  @media (max-width: 1350px) {
    width: auto;
    margin: 60px 20px 70px;
  }
}

.backgroundContainer {
  position: absolute;
  top: -119px;
  left: 0;
  width: 100%;
  height: 90vh;
  max-height: 670px;
  background-image: url('/cases_bg.svg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 125;
}

.backgroundGradientContainer {
  position: absolute;
  top: -119px;
  left: 0;
  width: 100%;
  height: 90vh;
  max-height: 670px;
  background: #03010f;
  opacity: 0.7;
  z-index: 126;
}

// .backgroundContainer::after {
//   content: '';
//   position: absolute;
//   bottom: 0;
//   left: 0;
//   width: 100%;
//   height: 10%;
//   background: linear-gradient(to bottom, rgba(3, 1, 15, 0) 0%, #03010f 100%);
//   pointer-events: none;
// }

.casesBackgroundContainer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: calc(100% + 119px);
  background-color: #03010f;
  background-image: url('/cases_gradient.svg'), url('/cases_gradient.svg');
  background-repeat: repeat-x, repeat-x;
  background-position:
    top left,
    bottom left;
  background-size: contain, contain;
  z-index: 122;
  pointer-events: none;
}

.casesBackgroundGradientContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #03010f;
  opacity: 0.7;
  z-index: 123;
  pointer-events: none;
}
