.container {
  background: linear-gradient(180deg, rgba(3, 1, 15, 0) 7.82%, #03010f 56.08%);
  position: relative;
  max-height: 100%;
  max-height: fit-content;
}

.bgContainer {
  position: absolute;
  top: -119px;
  left: 0;
  width: 100%;
  height: 70vh;
  background-image: url('/services_bg.svg');
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -2;
}

.bgGradientContainer {
  position: absolute;
  top: -119px;
  left: 0;
  width: 100%;
  height: 70vh;
  background: #03010FCC;
  opacity: 0.7;
  z-index: -1;
}

.gradientContainer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: calc(100% + 119px);
  background-image: url('/services_gradient.svg');
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -2;
}

.wrapper {
  width: 1222px;
  margin: 0 auto;
  padding-top: 80px;
  padding-bottom: 206px;
}

.header {
  h2 {
    color: #fff;
    font-family: 'Albert Sans';
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: 48px;
    text-transform: uppercase;
    text-transform: uppercase;
  }

  p {
    margin-top: 30px;
    max-width: 708px;
    color: #fff;
    font-family: Helvetica;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 22px;
  }
}

.servicesContainer {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px 12px;
  height: fit-content;
}

.service {
  padding: 26px 21px 52px 21px;
  border-radius: 30px;
  background: #1c1a29;
  height: fit-content;

  img {
    width: 29px;
    height: 29px;
  }

  h4 {
    margin-top: 20px;
    color: #fff;
    font-family: Helvetica;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
  }

  p {
    margin-top: 10px;
    color: #d3d3d4;
    font-family: Helvetica;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
  }
}
