.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;

  h2 {
    color: #fff2f1;
    text-shadow: 2px 2px 0px rgba(42, 4, 79, 0.25);
    font-family: 'Albert Sans';
    font-size: 84px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: -3.36px;
    text-transform: uppercase;
    position: relative;
    z-index: 100;
  }
}

.topBgContainer {
  position: relative;
  width: 100vw;
}

.topBg {
  position: absolute;
  background: url('/home_main_bg.png') no-repeat center center / cover;
  height: 100%;
  width: 100%;
}

.topContentContainer {
  padding-top: 120px;
  width: 100%;
  position: relative;
  z-index: 999;
  background: linear-gradient(180deg, #03010f 0%, rgba(3, 1, 15, 0) 100%);
}

.content {
  width: 708px;
  margin-left: 109px;
  margin-bottom: 328px;

  h1 {
    color: #fff2f1;
    font-size: 97.004px;
    text-transform: uppercase;
  }

  p {
    width: 357px;
    color: #fff2f1;
    font-size: 24.543px;
    letter-spacing: -1.473px;
    margin-bottom: 46px;
  }

  a {
    border-radius: 50px;
    background-color: #7959b6;
    font-family: Helvetica;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    display: flex;
    gap: 14px;
    text-transform: uppercase;
    width: fit-content;
    transition: background-color 0.3s ease;

    span {
      padding: 18px 0 18px 36px;
      color: #fff;
    }

    img {
      padding: 20px;
      border-radius: 100%;
      background-color: #7959b6;
    }

    &:hover {
      background-color: #b893ff;
    }
  }

  @media (max-width: 1400px) {
    width: 40%;

    p {
      width: 80%;
    }
  }
}

.carouselContainer {
  width: 100%;
  box-sizing: border-box;
  background: linear-gradient(358deg, rgba(14, 9, 35, 0) -49.14%, rgba(7, 6, 22, 0.42) 98.31%);
  backdrop-filter: blur(25px);
}

.slide {
  color: #fff2f1;
  font-family: 'Albert Sans';
  font-size: 97.004px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
  padding: 61px 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  max-width: 362px;
  max-height: 221px;
  position: relative;
  margin-top: 9px;
  margin-bottom: 18px;

  img {
    width: 277px;
    height: 116px;
  }

  p {
    text-align: center;
  }
}

.reviewsContainer {
  width: 85%;
  margin: 0 auto 240px;
  overflow: hidden;
}

.reviewsTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reviewsSwiperContainer {
  position: relative;
  margin: 0 auto;
}

.servicesSwiperButtonPrev,
.servicesSwiperButtonNext,
.casesSwiperButtonPrev,
.casesSwiperButtonNext,
.reviewsSwiperButtonPrev,
.reviewsSwiperButtonNext {
  padding: 17px;
  cursor: pointer;
  font-weight: bold;
  width: 64px;
  height: 64px;
  border-radius: 32px;
  border: 1.5px solid #a26ae8;
  fill: #a26ae8;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;

  img {
    height: 25px;
    width: 30px;
  }
}

.servicesSwiperButtonPrev,
.casesSwiperButtonPrev,
.reviewsSwiperButtonPrev {
  transform: rotate(180deg);
}

.swiperNav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;

  :global(.swiper-button-disabled) {
    border: 1.5px solid #fff;
    fill: #fff;
  }
}

.swiperPagination {
  color: #fff2f1;
  font-size: 55.425px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -3.326px;
  max-width: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.reviewSlide {
  text-align: center;
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
  height: auto;
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  gap: 50px;
  padding: 20px;
  border-radius: 30px;

  display: flex; /* Гибкое выравнивание */
  justify-content: center;
  align-items: center;
  width: auto !important; /* Автоматическая ширина */
  max-width: 48%; /* Чтобы всегда помещались 2 слайда */
  white-space: normal; /* Разрешает перенос строк */
  text-align: center; /* Центрируем контент */
}

.reviewSlideBg {
  border: 1px solid #454352;
  background-color: #1c1a29;
}

.score {
  display: flex;
  align-items: center;
  gap: 25px;

  p {
    color: #fff2f1;
    font-family: Helvetica;
    font-size: 29.526px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.772px;
  }
}

.stars {
  display: flex;
  align-items: center;
}

.star {
  border-radius: 14px;
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -8px;
  position: relative;
  z-index: 0;
}

.reviewDescription {
  margin-top: 30px;
  color: #fff2f1;
  font-family: Helvetica;
  font-size: 29.526px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -1.772px;
  text-align: left;
  margin-bottom: 20px;
}

.dividedIcon {
  display: flex;
  justify-content: center;
}

.reviewer {
  margin-top: 18px;

  .name {
    color: #fff2f1;
    font-family: Helvetica;
    font-size: 55.425px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -3.326px;
    text-align: left;
  }

  .company {
    color: #fff2f1;
    font-family: Helvetica;
    font-size: 29.526px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.772px;
    text-align: left;
    margin-left: 6px;
    margin-top: -6px;
    display: flex;
    gap: 14px;
    align-items: center;

    span {
      color: #8312ef;
    }
  }
}

.projectDescriptionContainer {
  display: flex;
  align-items: start;
  flex-direction: column;

  h2 {
    margin-top: -40px;
  }
}

.projectDescription {
  color: #fff2f1;
  font-family: Helvetica;
  font-size: 29.526px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -1.772px;
  opacity: 0.8;
  text-align: left;
  max-width: 748px;
}

.casesContainer {
  width: 85%;
  margin: 95px auto 240px;
  overflow: hidden;
}

.casesTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.caseSlider {
  display: flex;
  align-items: stretch;
  height: 100%;
}

.caseSlide {
  width: 597px;
  height: auto;
}

.caseCarouselContainer {
  margin-top: 48px;
}

.teamContainer {
  width: 100%;
  margin-bottom: 240px;

  @media (max-width: 1300px) {
    margin-bottom: 90px;
  }

  h2 {
    width: 85%;
    margin: 0 auto 26px;
  }
}

.teamList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px 21px;
  width: 85%;
  margin: 0 auto;
}

.person {
  max-width: 491px;
  border-radius: 37.624px;
  border: 0.896px solid rgba(255, 255, 255, 0.19);
  background: rgba(255, 242, 241, 0.19);
  backdrop-filter: blur(9.800000190734863px);
  padding: 16px 16px 20px;
  position: relative;

  img {
    border-radius: 35.221px;
    width: 100%;
    max-height: 386px;
    background-color: #a59999;
  }
}

.personContent {
  margin-top: 12px;

  h4 {
    color: #fff2f1;
    font-family: Helvetica;
    font-size: 51.649px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -3.099px;

    @media (max-width: 1500px) {
      font-size: 40px;
    }
  }

  p {
    color: #fff2f1;
    font-family: Helvetica;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.92px;
    opacity: 0.8;

    @media (max-width: 1500px) {
      font-size: 28px;
    }
  }
}

.personLinks {
  display: flex;
  gap: 15px;
  position: absolute;
  bottom: 23px;
  right: 24px;

  a {
    width: 49.854px;
    height: 50.87px;
    border-radius: 50%;
    background-color: #575151;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      height: 20px;
      width: 20px;
    }

    @media (max-width: 1500px) {
      width: 40px;
      height: 40px;
    }
  }
}

.casesReviewsBg {
  position: absolute;
  background: url('/home_g_bg.svg') no-repeat;
  z-index: -1;
  height: 100%;
  width: 100%;
}

.servicesTeamBg {
  position: absolute;
  background: url('/services_bg.svg') no-repeat left top / cover;
  z-index: -1;
  height: 100%;
  width: 100%;
}

.casesReviewsWrapper::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: linear-gradient(#03010f 0%, rgba(3, 1, 15, 0) 100%);
  z-index: 2;
}


.contactWrapper,
.casesReviewsWrapper,
.servicesTeamWrapper {
  position: relative;
  width: 100vw;
}

.contactBg {
  position: absolute;
  background: url('/home_main_bg.png') no-repeat center center / cover;
  z-index: -1;
  height: 100%;
  width: 100%;
}

.servicesContainer {
  width: 85%;
  margin: 0 auto 240px;
  overflow: hidden;
}

.servicesTop {
  margin-bottom: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contactContainer {
  width: 85%;
  margin: 0 auto 180px;
  overflow: hidden;

  h2 {
    margin-bottom: 130px;
  }
}

.contactWrapper::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(180deg, #03010F 0%, rgba(3, 1, 15, 0.00) 100%);
  z-index: 2;
}