.title {
  color: #fff;
  text-shadow: 2px 2px 0px rgba(42, 4, 79, 0.25);
  font-family: 'Albert Sans';
  font-size: 64px;
  font-style: normal;
  font-weight: 900;
  line-height: 78px;
  text-transform: uppercase;
  margin-bottom: 34px;
}

.formContainer {
  margin: 28px auto;
  padding: 40px 104px;
  border-radius: 30px;
  background: rgba(34, 33, 39, 0.7);
  max-width: 748px;
}

.formGroup {
  margin-bottom: 22px;

  label {
    margin-bottom: 2px;
    color: #000;
    font-family: Helvetica;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.44px;
  }

  .phoneContainer {
    width: 100%;
    padding: 9px 16px;
    border-radius: 16px;
    border: 1px solid #605d64;
    background: #48464c;
  }

  input,
  textarea {
    width: 100%;
    color: #cac5cd;
    font-family: Helvetica;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    padding: 9px 16px;
    border-radius: 16px;
    border: 1px solid #605d64;
    background: #48464c;
  }

  .formGroupInput{
    height: 55px;
  }

  .phoneInput {
    width: 100%;
    border: none;
    background: #48464c;
    color: #cac5cd;
    font-family: Helvetica;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    position: relative;
  }

  .phoneDropdown {
    color: #48464c;
    font-family: Helvetica;
    background: #48464c;

    li:first-child {
      display: flex;
    }
  }

  :global(.react-tel-input .flag-dropdown) {
    background-color: rgba(34, 33, 39, 0.7);
    border-color: #48464c;
    height: 40px !important;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
  }

  :global(.react-tel-input .flag-dropdown.open .selected-flag) {
    background-color: rgba(34, 33, 39, 0.7);
    border-color: #48464c;
  }

  :global(.react-tel-input .country-list .search) {
    background-color: #48464c;
  }

  :global(.react-tel-input .form-control) {
    @extend .phoneInput;
  }

  :global(.react-tel-input .country-list) {
    @extend .phoneDropdown;
  }

  :global(.react-tel-input .form-control:focus) {
    outline: none;
    box-shadow: none;
  }

  :global(.react-tel-input .country-list .country.highlight) {
    background-color: rgba(34, 33, 39, 0.7);
  }

  :global(.react-tel-input .country-list .country:hover) {
    background-color: rgba(34, 33, 39, 0.7);
  }

  textarea {
    resize: none;
    min-height: 154px;
  }
}

.errorMessage {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

.submitButton {
  border-radius: 50px;
  background-color: #7959b6;
  font-family: Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  display: flex;
  gap: 14px;
  text-transform: uppercase;
  width: fit-content;
  transition: background-color 0.3s ease;

  span {
    padding: 18px 0 18px 36px;
    color: #fff;
  }

  img {
    padding: 20px;
    border-radius: 100%;
    background-color: #7959b6;
  }

  &:hover {
    background-color: #b893ff;
  }
}


