.title {
  color: #fff;
  text-align: center;
  text-shadow: 2px 2px 0px rgba(42, 4, 79, 0.25);
  font-family: 'Albert Sans';
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  line-height: 48px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.formContainer {
  margin: 28px auto;
  padding: 40px 104px;
  border-radius: 30px;
  background: rgba(34, 33, 39, 0.7);
  max-width: 605px;
  width: 100%;
}

.formGroup {
  margin-bottom: 22px;

  label {
    margin-bottom: 2px;
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .phoneContainer {
    width: 100%;
    padding: 9px 16px;
    border-radius: 16px;
    border: 1px solid #605d64;
    background: #48464c;
  }

  input,
  textarea {
    width: 100%;
    color: #cac5cd;

    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    padding: 9px 16px;
    border-radius: 16px;
    border: 1px solid #605d64;
    background: #48464c;
  }

  .formGroupInput {
    height: 55px;
  }

  .phoneInput {
    width: 100%;
    border: none;
    background: #48464c;
    color: #cac5cd;

    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    position: relative;
  }

  .phoneDropdown {
    color: #48464c;

    background: #48464c;

    li:first-child {
      display: flex;
    }
  }

  :global(.react-tel-input .flag-dropdown) {
    background-color: transparent;
    border-color: #48464c;
    height: 40px !important;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
  }

  :global(.react-tel-input .flag-dropdown.open .selected-flag) {
    background-color: rgba(34, 33, 39, 0.7);
    border-color: #48464c;
  }

  :global(.react-tel-input .selected-flag:hover) {
    background-color: rgba(34, 33, 39, 0.7);
  }

  :global(.selected-flag:focus) {
    background-color: rgba(34, 33, 39, 0.7);
  }

  :global(.react-tel-input .selected-flag:focus) {
    background-color: rgba(34, 33, 39, 0.7);
  }

  :global(.react-tel-input .country-list .search) {
    background-color: #48464c;
  }

  :global(.react-tel-input .form-control) {
    @extend .phoneInput;
  }

  :global(.react-tel-input .country-list) {
    @extend .phoneDropdown;
  }

  :global(.react-tel-input .form-control:focus) {
    outline: none;
    box-shadow: none;
  }

  :global(.react-tel-input .country-list .country.highlight) {
    background-color: rgba(34, 33, 39, 0.7);
  }

  :global(.react-tel-input .country-list .country:hover) {
    background-color: rgba(34, 33, 39, 0.7);
  }

  textarea {
    resize: none;
    min-height: 154px;
  }
}

.errorMessage {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

.submitButton {
  display: inline-flex;
  align-items: center;
  border-radius: 50px;
  background-color: #7959b6;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  gap: 14px;
  text-transform: uppercase;
  padding-right: 20px;
  transition: background-color 0.3s ease;
  height: 100%;
  overflow: hidden;
  position: relative;

  span {
    display: inline-block;
    padding: 12px 0 12px 20px;
    color: #fff;
    margin-right: 40px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }

  .imageContainer {
    background-color: #7959b6;
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: -3px;
    border-radius: 50px;
    height: 48px;
    width: 48px;
  }

  .imageContainer img {
    width: 17px;
    height: 15px;
  }

  &:hover {
    background-color: #b893ff;
  }
}

@media (max-width: 768px) {
  .formContainer {
    padding: 30px 12px;
  }

  .title{
    font-size: 32px;
    line-height: 40px;
    text-align: left;
  }
}
