.title {
  color: #000;
  font-family: Helvetica;
  font-size: 56.035px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -3.362px;
  text-align: center;
  margin-bottom: 21px;
}

.formContainer {
  margin: 28px auto;
  padding: 41px 128px 40px 129px;
  background: #fff;
  border-radius: 47px;
  max-width: 748px;
}

.formGroup {
  margin-bottom: 22px;

  label {
    margin-bottom: 2px;
    color: #000;
    font-family: Helvetica;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.44px;
  }

  .phoneContainer {
    width: 100%;
    padding: 20px 26px;
    border-radius: 34.987px;
    border: 0.744px solid #000;
  }

  input,
  textarea {
    width: 100%;
    padding: 20px 26px;
    border-radius: 34.987px;
    border: 0.744px solid #000;
    background: #fff;
    color: #000;
    font-family: Helvetica;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.68px;
  }

  .phoneInput {
    width: 100%;
    border: none;
    background: #fff;
    color: #000;
    font-family: Helvetica;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.68px;
    position: relative;
  }

  .phoneDropdown {
    color: #000;
    font-family: Helvetica;

    li:first-child{
      display: flex;
    }
  }

  

  :global(.react-tel-input .flag-dropdown) {
    height: 40px !important;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
  }

  :global(.react-tel-input .form-control) {
    @extend .phoneInput;
  }

  :global(.react-tel-input .country-list) {
    @extend .phoneDropdown;
  }
  
  :global(.react-tel-input .form-control:focus) {
    outline: none;
    box-shadow: none;
  }

  textarea {
    resize: none;
    min-height: 154px;
  }
}

.errorMessage {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

.submitButton {
  border-radius: 34.987px;
  background: #000;
  color: #ffffff;
  padding: 20px 72px;
  color: #fff;
  font-family: Helvetica;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -1.68px;
  text-align: center;
  cursor: pointer;

  &:hover {
    background: #ffffff;
    color: #000;
  }
}

.buttonWrapper {
  display: flex;
  justify-content: end;
}
