.wrapper {
  padding-top: 75px;
  position: relative;
  display: flex;
}

.bgContainer {
  position: absolute;
  top: -119px;
  left: 0;
  width: 100%;
  height: 70vh;
  max-height: 700px;
  background-color: #03010f;
  background-image: url('/blog_bg.svg');
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -2;
}

.bgContainer::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10%;
  background: linear-gradient(to bottom, rgba(3, 1, 15, 0) 0%, #03010f 100%);
  pointer-events: none;
  z-index: -3;
}

.bgGradientContainer {
  position: absolute;
  top: -119px;
  left: 0;
  width: 100%;
  height: 70vh;
  max-height: 700px;
  background: #03010f;
  opacity: 0.5;
  z-index: -1;
}

.gradientContainer::before {
  content: '';
  position: absolute;
  top: min(70vh, 690px);
  left: 0;
  width: 100%;
  height: 3%;
  background: linear-gradient(to bottom, #03010F, #0A0917, #12121E, #151425);
  filter: blur(5px);
  pointer-events: none;
  z-index: -1;
}

.gradientContainer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: calc(100% + 119px);
  background-image: url('/blogs_gradient.svg');
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -4;
}

.gradientContainerBg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: calc(100% + 119px);
  background: #03010f;
  opacity: 0.5;
  z-index: -2;
}

.container {
  max-width: 1222px;
  margin: 0 auto;
}

.titleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .title {
    color: #fff;
    font-family: 'Albert Sans';
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: 48px;
    text-transform: uppercase;
  }
}

.featuredPostContainer {
  h3 {
    margin-top: 60px;
    color: #fff;
    font-family: Helvetica;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
  }

  .featuredPost {
    margin-top: 43px;
    border-radius: 38px;
    border: 1px solid #454352;
    background: rgba(0, 0, 0, 0.7);
    display: grid;
    grid-template-columns: 40% 60%;
    height: 100%;
    min-height: 100%;
    overflow: hidden;

    .content {
      padding: 46px 30px;

      .title {
        color: #fff2f1;
        font-size: 40px;
        font-style: normal;
        font-weight: 400;
        line-height: 48px;
        margin-top: 34px;
      }

      .publishedDate {
        color: #a5a0b2;

        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
        margin-top: 16px;
      }
    }

    .featureImg {
      width: 100%;
      height: 100%;
      min-width: 60%;
      display: flex;
      margin-left: 2px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

.category {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  text-transform: uppercase;
  padding: 4px 8px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.14);
  width: fit-content;
}
