.link {
  height: 48px;
  display: flex;
  align-items: center;
  border-radius: 50px;
  background-color: #7959b6;
  gap: 14px;
  text-transform: uppercase;
  padding-right: 20px;
  transition: background-color 0.3s ease;
  overflow: hidden;
  position: relative;
  width: fit-content;

  span {
    display: inline-block;
    padding: 12px 0 12px 20px;
    color: #fff;
    margin-right: 40px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }

  .imageContainer {
    background-color: #7959b6;
    position: absolute;
    right: -3px;
    border-radius: 50px;
    height: 48px;
    width: 48px;

    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .imageContainer img {
    width: 17px;
    height: 15px;
  }

  &:hover {
    background-color: #b893ff;
  }
}

@media (max-width: 768px) {
  .link {
    span {
      margin-right: 0;
    }
  }
}
