.link {
  height: 60px;
  display: flex;
  align-items: center;
  border-radius: 50px;
  background-color: #7959b6;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  gap: 14px;
  text-transform: uppercase;
  padding-right: 20px;
  transition: background-color 0.3s ease;
  overflow: hidden;
  position: relative;
  width: fit-content;

  span {
    height: 60px;
    display: inline-block;
    padding: 18px 0 18px 36px;
    color: #fff;
    margin-right: 64px;
    margin-top: 1px;
  }

  .imageContainer {
    background-color: #7959b6;
    position: absolute;
    right: -3px;
    border-radius: 50px;
    height: 60px;
    width: 60px;

    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .imageContainer img {
    width: 17px;
    height: 15px;
    margin-bottom: 1px;
  }

  &:hover {
    background-color: #b893ff;
  }
}
