@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('./fonts.css');

body {
  background-color: #000;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: Helvetica;
  overflow-x: hidden;
}

main {
  flex: 1;
  z-index: 111;
  color: #fff2f1;
  display: flex;
  flex-direction: column;
}

* {
  color: #fff2f1;
}
