.container {
  padding-top: 14px;
  flex: 1;
}

.backgroundContainer {
  position: fixed;
  top: 0;
  background: url('/home_bg.png') lightgray 50% / cover no-repeat;

  height: 100vh;
  width: 100vw;
  z-index: 1;
}

.contentContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  z-index: 999;
}

.content {
  width: 748px;

  h1 {
    color: #fff2f1;
    font-size: 97.004px;
    text-transform: uppercase;
  }

  p {
    width: 357px;
    color: #fff2f1;
    font-size: 24.543px;
    letter-spacing: -1.473px;
  }
}
