.container {
  height: 100%;
  display: flex;
  justify-content: space-between;

  h4 {
    color: #ac69fd;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 30px;
  }

  p {
    color: #fff2f1;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

.reverseFlex {
  flex-direction: row-reverse;
}

.leftContent {
  max-width: 49%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  .contentContainer {
    flex-grow: 1;
  }

  .btnWrapper {
    margin-top: auto;
  }

  p {
    margin-bottom: 32px;
    color: #d3d3d4;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
  }
}

.right {
  max-width: 49%;
  flex: 1;
  border-radius: 27px;
  position: relative;
  padding: 47px 40px;
  border-radius: 30px;
  overflow: hidden;
  background-image: url('/case_card.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  h4 {
    color: #fff;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
  }

  p {
    color: #fff;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }
}

.rightBg {
  position: absolute;
  z-index: -2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #16171d;
}

.verticalFlex {
  flex-direction: column-reverse;

  .right {
    max-width: 100%;
  }

  .leftContent {
    max-width: 100%;

    h4 {
      margin-top: 15px;
    }
  }
}

.mobileTitle {
  display: none;
}

@media (max-width: 768px) {
  .desktopTitle {
    display: none;
  }

  .contentContainer {
    margin-top: 12px;
  }

  .container {
    flex-direction: column-reverse;

    .right {
      max-width: 100%;
      padding: 33px 22px;
      flex: unset;
      height: 159px;

      h4{
        font-size: 22px;
        line-height: 30px;
      }
    }

    .leftContent {
      max-width: 100%;

      p{
        margin-bottom: 20px;
      }

      h4 {
        margin-top: 15px;
      }
    }

    h4 {
      margin-bottom: 12px;
    }

    .mobileTitle {
      display: block;
    }
  }
}
