.container{
    padding: 10px 11px 25px;
    border-radius: 37.624px;
    border: 0.896px solid rgba(255, 255, 255, 0.19);
    background: rgba(255, 242, 241, 0.19);
    backdrop-filter: blur(9.800000190734863px);
    height: 100%;
  
    img {
      border-radius: 27px;
      width: 100%;
    }
  
    h4 {
      color: #fff2f1;
      font-family: Helvetica;
      font-size: 54px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: -3.24px;
      margin-top: 9px;
    }
  
    p {
      color: #fff2f1;
      font-family: Helvetica;
      font-size: 32px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: -1.92px;
      margin-top: 9px;
    }
}