.container {
  background: #03010f;
  padding: 47px 109px;
  z-index: 120;
  border-top: 1px solid #514f59;
}

.wrapper {
  max-width: 1222px;
  margin: 0 auto;
}

.topContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 16px;
  border-bottom: 1px solid #39373e;
}

.leftRow {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.slogan {
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

.footerLogo {
  display: flex;
  gap: 16px;
  align-items: center;

  svg {
    width: 40px;
    height: 40px;
  }
}

.logo {
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background: #474652;
}

.footerTitle {
  color: #fff2f1;
  font-size: 26px;
  line-height: normal;
  text-transform: uppercase;
}

.socialLinks {
  display: flex;
  align-items: center;
  gap: 21px;

  img {
    width: 26px;
    height: 26px;
  }
}

.socialLinkIcon {
  width: 20px;
  height: 20px;
  max-width: unset;
}

.rightRow {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;

  div {
    max-width: 200px;
  }

  h3 {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    font-family: Helvetica;
    margin-bottom: 18px;
  }

  p {
    color: #d3d3d4;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    opacity: 0.7;
  }
}

.bottom {
  margin-top: 40px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 40px;
}

.clutch,
.upwork {
  display: flex;
  gap: 23px;
  align-items: center;
}

.starsContainer {
  display: flex;
  gap: 3px;
  padding: 5px 8px;
  border-radius: 6px;
  background: #3c3c40;

  svg {
    height: 17px;
    width: 17px;
  }
}

.aboutLinks {
  display: flex;
  flex-direction: column;
  gap: 14px;

  a {
    color: #955bdd;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }
}

.contactsBlockInnerContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100% - 44px);
}

.platformLogo {
  svg {
    height: 20px;
    width: 70px;
  }
}

.contactsText {
  color: #d3d3d4;
  font-family: Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
}

@media (max-width: 768px) {
  .container {
    padding: 30px 20px;
  }

  .topContent {
    flex-direction: column;
    align-items: start;
  }

  .footerLogo {
    width: 17px;
    height: 17px;
  }

  .footerTitle {
    font-size: 14px;
  }

  .slogan {
    font-size: 14px;
    line-height: 20px;
  }

  .socialLinks {
    .logo {
      height: 40px;
      width: 40px;

      img {
        width: 30px;
        height: 30px;
      }
    }
  }

  .rightRow {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    gap: 32px;

    h3 {
      font-size: 14px;
      line-height: 20px;
    }

    p {
      font-size: 14px;
      line-height: 20px;
    }
  }

  .contactsBlockInnerContainer {
    height: calc(100% - 38px);

    .contactsText {
      font-size: 14px;
      line-height: 20px;
      opacity: 0.7;
    }

    .aboutLinks {
      font-size: 14px;
      line-height: 20px;
    }
  }

  .bottom {
    margin-top: 20px;
    gap: unset;
  }

  .upwork {
    .platformLogo {
      width: 55px;
      height: 17px;
    }
    align-items: start;
  }

  .clutch {
    .platformLogo {
      width: 53px;
      height: 15px;
    }
    align-items: start;
  }

  .starsContainer {
    svg {
      height: 13px;
      width: 13px;
    }
  }
}

@media (min-width: 769px) and (max-width: 1300px) {
  .container {
    padding: 50px;
  }

  .wrapper {
    max-width: unset;
  }
}
