.container {
  background: #03010f;
  padding: 47px 109px;
  z-index: 120;
  border-top: 1px solid #514f59;
}

.topContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 16px;
  border-bottom: 1px solid #39373e;
}

.leftRow {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footerLogo {
  display: flex;
  gap: 16px;
  align-items: center;
}

.logo {
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background: #474652;

  img{}
}

.footerTitle {
  color: #fff2f1;
  font-size: 26px;
  line-height: normal;
  text-transform: uppercase;
}

.socialLinks {
  display: flex;
  align-items: center;
  gap: 21px;

  img{
    width: 26px;
    height: 26px;
  }
}

.socialLinkIcon {
  width: 20px;
  height: 20px;
  max-width: unset;
}

.rightRow {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  align-items: stretch;

  div {
    max-width: 200px;
  }

  h3 {
    color: #fff;
    font-size: 24px;
  }

  p {
    color: #D3D3D4;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 28px
  }
}

.bottom {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
}

.clutch,
.upwork {
  display: flex;
  gap: 23px;
  align-items: center;
}

.starsContainer {
  display: flex;
  gap: 6px;
  padding: 11px 18px;
  border-radius: 12px;
  background: #3c3c40;
}

.aboutLinks {
  display: flex;
  flex-direction: column;
  gap: 14px;

  a {
    color: #955bdd;
   
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

.contactsBlock {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
