.wrapper {
  position: relative;
  height: 100%;
  padding-top: 61px;
  padding-bottom: 140px;
}

.gradientContainer {
  position: absolute;
  top: -119px;
  left: 0;
  width: 100%;
  height: calc(100% + 119px);
  background-color: #03010f;
  background-image: url('/service_gradient.svg');
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}

.container {
  max-width: 1222px;
  margin: 0 auto;
}

.breadcrumbs {
  display: flex;
  align-items: center;

  a {
    color: #c5c4cc;
    text-align: center;

    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
  }

  svg {
    width: 24px;
    height: 24px;
  }

  p {
    color: #fff;
    text-align: center;

    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
  }
}

.breadcrumbsLeft{
  display: flex;
  align-items: center;
}

.topContent {
  margin-top: 61px;
  border-radius: 50px;
  background: rgba(3, 1, 15, 0.4);
  padding: 60px 49px;
  display: flex;
  justify-content: space-between;
  gap: 58px;
}

.topContentImg {
  width: 100%;
  max-width: 361px;
  height: 379px;
  border-radius: 30px;

  img {
    object-fit: contain;
  }
}

.descriptionContainer {
  h1 {
    color: #fff2f1;
    font-family: 'Albert Sans';
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: 48px;
  }

  .shortDescription {
    margin-top: 30px;
    font-family: Helvetica;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;

    * {
      color: #fff;
    }
  }

  .benefits {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 37px 54px;
    margin-top: 40px;
    margin-bottom: 30px;

    div {
      display: flex;
      gap: 10px;
      align-items: center;
    }

    p {
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 26px;
    }
  }
}

.topContentImgMobile {
  display: none;
}

@media (max-width: 768px) {
  .btnWrapper,
  .topContentImgDesktop {
    display: none;
  }

  .breadcrumbs{
    align-items: baseline;

    p{
      text-align: left;
    }
  }

  .wrapper{
    padding-top: 30px;
    padding-bottom: 70px;
  }

  .container {
    max-width: unset;
    padding: 0 10px;
  }

  .topContent {
    margin-top: 20px;
    padding: 40px 10px;
    flex-direction: column;
  }

  .shortDescription{
    margin-bottom: 20px;
  }

  .descriptionContainer {
    h1 {
      font-size: 28px;
      line-height: 36px;
    }
  }

  .topContentImgMobile {
    display: unset;
  }

  .gradientContainer{
    height: 1000px;
  }
}

@media (min-width: 769px) and (max-width: 1300px) {
  .container{
    max-width: unset;
    padding: 0 50px;
  }
}