.container {
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: start;

  h1 {
    color: #fff;
    font-family: 'Albert Sans';
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: uppercase;
  }

  p {
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
  }
}

.textContent {
  p {
    margin-top: 30px;
    width: 60%;
  }
}

.btnContainer {
  display: none;
}

@media (max-width: 768px) {
  .container {
    padding: 0 20px;
    margin: 0 auto;
  }

  .textContent {
    p {
      margin-bottom: 20px;
      width: 100%;
    }
  }

  .btnContainer{
    display: unset;
  }
}
