.container {
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: start;
  width: 1220px;
  margin: 0 auto;

  img {
    margin-left: -250px;
    max-width: 50%;
  }

  h1 {
    color: #fff;
    font-family: 'Albert Sans';
    font-size: 97.004px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: uppercase;
  }

  p {
    color: #fff;
    font-family: Helvetica;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 32px;
  }
}

.textContent {
  p {
    width: 60%;
  }
}
